// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-bottom: 2rem;
}

.nav {
    margin: 1rem 0;
    padding: 0;

    > li {
        display: inline-block;
        margin: 1rem 0;
        border-right: 1px solid #D8D8D8;
        padding-right: 1rem;
        padding-left: 1rem;

        &:first-child {
            padding-left: 0;
        }
    }

}